/* productos.css */
.productos-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* Estilos para el texto de carga */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ajusta la altura según tus necesidades */
}

.loading-text {
  font-size: 2rem; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
}